* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/images/sunset.jpg) no-repeat center center/cover;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

/*Navbar*/

.main-logo {
    color: #ffffff;
    font-family: 'Amiri', serif;
    margin-left: 30px;
}

#nav-bar {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-bar ul {
    display: flex;
    margin: 20px 5px;
}

#nav-bar ul li {
    list-style: none;
    padding: 5px;
}

#nav-bar ul li a {
    text-decoration: none;
    font-family: "Open Sans";
    color: #ffffff;
    border: 1px solid transparent;
    padding: 5px 20px;
    border-radius: 3px;
    transition: .6s ease;
}

#nav-bar ul li a:hover {
    background: #ffffff;
    color: #333333;
}

/* Form */

.title {
    margin-top: 100px;
    color: #ffffff;
}

.title h1 {
    font-size: 50px;
    line-height: 10px;
    padding-bottom: 40px;
}

.title h2 {
    font-size: 30px;
}

form {
    margin-top: 50px;
}

.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 16px;
}

input {
    height: 45px;
}

form .submit {
    background-color: #ff5722;
    border-color: transparent;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover {
    opacity: .8;
    cursor: pointer;
}